@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter';
}

:root {
  --primary-color: black;
  --secondary-color: #576cbc;
  --third-color: #fff;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

button,
a {
  box-sizing: border-box;
  min-width: 44px;
  min-height: 44px;
}

.skip2content {
  background-color: var(--secondary-color);
  border-radius: 4px;
  color: var(--third-color);
  font-weight: 500;
  left: 0;
  line-height: 44px;
  margin: 0 auto;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: -50px;
  transition: 0.35s;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 1500;
}

.skip2content:focus {
  top: 30px;
}

header {
  top: 0;
  position: sticky;
  z-index: 100;
}

/* nav */
nav {
  position: relative;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.brand a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: var(--secondary-color);
}

.nav__menu {
  width: max-content;
  height: 100%;
}

.nav__menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  list-style: none;
}

.nav__menu ul li {
  padding: 0;
}

.nav__menu a {
  text-decoration: none;
  font-size: 16px;
  padding: 0.9rem;
}

.nav__menu ul li:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

/* hero */

.hero-container {
  min-height: 380px;
  position: relative;
  background-image: url("/images/sharp/hero-image_1-large.jpg");
  background-color: #f0f0f0;
  width: 100%;
  height: 400px;
}

.hero-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.hero-caption h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-caption p {
  font-size: 1.2rem;
  font-style: italic;
}

/* Content */
section {
  margin-top: 40px;
}

a,
p,
h1,
h2,
h3,
h4 {
  text-decoration: none;
}

/* Restro Main Home CSS */
.main-resto_container {
  margin: 60px auto;
}

.main-resto_label {
  margin: auto;
  width: max-content;
  font-size: 22px;
}

.main-resto_label hr {
  margin-top: 0;
  width: 50%;
  border-bottom: 1px solid var(--secondary-color);
}

.list-resto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Mengubah lebar minimum kolom */
  gap: 20px;
  padding: 20px;
  margin: 0 auto; 
}

.resto-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  top: 0;
  transition: top ease 0.4s;
  cursor: pointer;
}

.resto-item:hover {
  top: -4px;
}

.resto-title {
  display: flex;
  justify-content: space-between;
}

.resto-item_image {
  object-fit: cover;
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
}

.resto-item_city {
  position: absolute;
  top: 20px; 
  left: 20px; 
  background-color: #FF6347; /* Mengubah warna latar belakang kota restoran */
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 1rem;
  min-width: 44px; 
  min-height: 44px; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.resto-item_rating {
  color: #DAA520  ;
  font-size: 12pt;
  font-weight: 400;
  text-decoration: none;
  margin: 0 0 0 5px;
  padding: 2px 3px 2px 3px;
  border-radius: 5px;
  margin-left: -5px;
}

.resto-item_name {
  font-weight: bold;
  font-size: 24px;
  margin-top: 16px;
  transition: 0.3s opacity;
  padding: 0 16px 0 16px;
  text-align: left; /* Posisi teks menjadi kiri */
}

.resto-item_name:hover {
  opacity: 0.7;
}

.resto-item_name {
  font-size: 1.4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #333;
  margin: 10px 0;
}

.resto-item_desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 16px 15px;
  font-size: 14px;
  line-height: 1.5em;
  color: black;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
.footer-text {
  margin: 0;
}

#root {
  padding-top: 65px;
}

/* Detail */

.resto-item {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  transition: transform 0.3s;
}

.resto-item:hover {
  transform: scale(1.05);
}

.resto-item a {
  color: inherit;
  text-decoration: none;
}

.resto-item_image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.resto-item_content {
  padding: 15px;
  text-align: center;
}

.resto-item_city {
  font-size: 10pt;
  font-weight: bold;
  color: #fff;
}

.resto-item_name {
  font-size: 1.2em;
  margin: 10px 0;
  color: #333;
}

.resto-item_rating {
  color: #ffa500;
}

.resto-item_desc {
  font-size: 0.9em;
  color: #666;
  margin-top: 10px;
  text-align: justify;
}

.detail {
  padding: 20px;
}

.container-info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.img-container {
  flex: 1 1 300px;
  text-align: center;
}

.resto-item_image-container {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.detail-info {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.resto-name, .resto-rating {
  font-size: 1.1em;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
}

.resto-address {
  margin-left: 10px;
  font-size: 10pt;
  color: #333;
  display: flex;
  align-items: center;
  gap: 10px;
}

.detail-name-address-rating {
  margin: 0;
}

.detail-desc {
  font-size: 1em;
  line-height: 1.5em;
  color: #555;
  margin-top: 1px;
  margin-left: 10px;
}

.resto-category {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 10px;
}

.category {
  background-color: #6699CC; /* Warna dengan transparansi */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9em;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Efek bayangan */
  transition: background-color 0.3s ease; /* Transisi perubahan warna latar belakang */
}

/* Efek hover */
.category:hover {
  background-color: rgba(255, 99, 71, 0.9); /* Warna latar belakang yang lebih gelap saat hover */
}

.restaurant-detail__menu-list {
  margin-top: 20px;
}

.menu-table {
  width: 100%;
  border-collapse: collapse;
}

.menu-table th, .menu-table td {
  border: 1px solid #fff;
  padding: 8px;
  text-align: left;
}

.menu-table th {
  background-color: #557799;
  color: white;
}

.menu-table tr:nth-child(even) {
  background-color: #f2f2f2; /* Warna latar belakang baris genap */
}

.menu-table td ul {
  list-style-type: none; /* Menghilangkan bullet points */
  padding-left: 0;
  margin: 0;
}

.menu-table td ul li {
  margin: 5px 0;
}

.detail-review {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detail-review-item {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.name-review {
  font-size: 1.2em;
  font-weight: bold;
}

.date-review {
  font-size: 0.9em;
  color: #888;
}

.body-review {
  font-size: 1em;
  color: #555;
  text-align: justify;
}

.like {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}

form {
  margin: 2em 0;
  padding: 1.5em;
  border: 2px solid #6699CC;
  border-radius: 10px;
  background-color: #fefefe;
}

.form-control {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0.5em;
  font-size: 1em;
  color: #333;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1em;
}

.form-label {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 0.5em;
}

.btn {
  display: block;
  width: 100px;
  height: 40px;
  font-size: 1em;
  color: white;
  background-color: #6699CC;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #e5533d;
}
